.item{
    min-height: 25rem;
    min-width: 19rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

@media (min-width: 768px) {
    .item{
        min-height: 23rem;
        min-width: 21rem;
    }
}

@media (min-width: 1024px) {
    .item{
        min-height: 42rem;
        min-width: 23rem;
    }
}