.miniContent{
    height: 32rem;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
    padding-top: 4rem;
    z-index: 10;


}

.img {
    height: 22rem;
    width: 22rem;
    margin: 0 auto;
    z-index: 0
;

}

@media (min-width: 768px) {
    .miniContent{
        height: 30rem;
    }
    .img {
        height: 22rem;
        width: 22rem;
        margin: 0 auto   ;
    }
}

@media (min-width: 1024px) {
    .miniContent{
        height: 36rem;
        padding-top: 13rem;
        z-index: 100;
    }

    .img {
        width: 30rem;
        height: 30rem;
        z-index: -10;
    }
}