.mainContent {
    height: 32rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
    .mainContent {
        height: 36rem;
    }
}

@media (min-width: 1024px) {
    .mainContent {
        height: 42rem;
    }
}