.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 18rem;
}

.img {

}

@media (min-width: 768px) {
    .container {
        width: 30rem;
        height: 30rem;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 33rem;
        height: 33rem;
    }
}