.item{
    min-height: 35rem;
    min-width: 32rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 2rem;
    position: relative;
}

.img {
    border-radius: 2rem;
    object-fit: contain;
}

@media (min-width: 768px) {
    .item{
        height: 23rem;
        width: 42rem;
    }
}

@media (min-width: 1024px) {
    .item{
        height: 42rem;
        min-width: 78rem;
    }

}